* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  padding: 5px;
}
main {
  margin-bottom: 5px;
}

/* Menu  ---------------------------------------------------------------------- */
header {
  background-image: url(../img/background/planta.png);
  background-position: center;
  background-size: cover;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  padding: 20px;
  display: flex;
  gap: 30px;
}

.header__logo {
  width: 50%;
  height: 100%;
  border-style: dashed;
}

.section__tituloprincipal {
  background-color: rgb(154, 209, 72);
  text-align: center;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 5px;
}

/* Index  ---------------------------------------------------------------------- */

.inicio__local {
  border-style: solid;
  border-color: orange;
  border-width: 20px;

  border-radius: 20px;
  border-width: 20px;
}

.novedades__tarjeta {
  border-style: solid;
  width: 50%;
  text-align: center;
  margin: 5px;
}

.inicio__local {
  width: 50%;
}

.inicio__imgnovedades {
  width: 50%;
}

.derechos {
  text-align: center;
}

.siguenos {
  text-align: end;
}

footer {
  background-color: #cbe8ba;
}

footer div .logo-footer {
  border-radius: 100px;
}

/* Sobre nosotros  ---------------------------------------------------------------------- */

.sobrenosotros {
  background-image: url(../img/background/verde.png);
  background-position: center;
  background-size: cover;
}
.sobrenosotros__tituloarticulo {
  color: white;
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.article__imgnegocio {
  width: 500px;
  border-color: white;
  border-style: solid;
  border-radius: 20px;
}

/* Productos  ---------------------------------------------------------------------- */

.section-productos {
  background-image: url(background/planta.png);
  background-position: center;
  background-size: cover;
}

.productos__tarjeta {
  width: 20%;
  border-style: solid;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
}

.productos__imagen {
  margin-top: 30px;
  width: 200px;
  border-radius: 20px;
  border-color: lime;
  border-style: solid;
}

/* Mas Pedidos  ---------------------------------------------------------------------- */
.pedidos__descripcion {
  text-align: center;
}

.pedidos__imgpedido {
  width: 200px;
  height: 200px;
}
.pedidos__article {
  background-color: lightblue;
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
}

/* Contactanos  ---------------------------------------------------------------------- */

.contactanos__mapa {
  border-style: solid;
  border-color: lightsalmon;
  border-width: 10px;
}

.contactanos_local {
  width: 500px;
  border-style: solid;
  border-color: orangered;
  border-radius: 20px;
}
