/* Mediaquerie Mobile */
@media (min-width: 300px) and (max-width: 767px) {
  /*Mobile Navbar*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .nav__list {
    display: flex;
    flex-direction: column;
  }
  .nav__item__texto
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  //   /*Mobile Inicio*/
  .main-index {
    display: flex;
    flex-direction: column;

    &__imgnegocio {
      width: 50%;
      box-shadow: none;
      margin: 10px;
    }
  }

  //     // &__novedades {
  //     //   display: flex;
  //     //   flex-flow: column wrap;
  //     // }
}
//   }
// }
